<h3>Update Details</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">user_id</label>
      <input type="text" class="form-control" id="user_id" required [(ngModel)]="details.user_id" name="user_id">
    </div>

    <div class="form-group">
      <label for="name">username</label>
      <input type="text" class="form-control" id="username" required [(ngModel)]="details.username" name="username">
    </div>

    <div class="form-group">
      <label for="name">detail</label>
      <input type="text" class="form-control" id="detail" required [(ngModel)]="details.detail" name="detail">
    </div>


    <div class="form-group">
      <label for="name">email</label>
      <input type="text" class="form-control" id="email" required [(ngModel)]="details.email" name="email">
    </div>


    <button type="submit" class="btn btn-success">Update</button>
  </form>
</div>
